In [1]:
import pandas as pd

from sqlalchemy import create_engine
from time import time

In [8]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [9]:
engine.connect()

In [2]:
!curl -L -O https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 8068k  100 8068k    0     0   826k      0  0:00:09  0:00:09 --:--:-- 1201k  0     0   317k      0  0:00:25  0:00:03  0:00:22  804k

In [4]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')

/var/folders/1s/pgdsl6w55ln3b46c2439bt5c0000gn/T/ipykernel_15940/2667354967.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv.gz')

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [6]:
len(df)

476386

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [11]:
chunksize = 100000

for i in range(0, len(df), chunksize):
    t_start = time()
    
    df[i:i+chunksize].to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f second' % (t_end-t_start))

inserted another chunk, took 19.773 second
inserted another chunk, took 20.768 second
inserted another chunk, took 23.137 second
inserted another chunk, took 19.414 second
inserted another chunk, took 18.984 second

In [ ]:
!curl -L -O https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [12]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [13]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
len(df)

265

In [16]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265